body {
    margin: 0
}

* {
    box-sizing: border-box;
}

.navbar {
    height: 12vh;
    background-color: #333;
    display: flex;
}

.ticket-container {
    height: 88vh;
    background-color: #f2f2f2;
}

.filter-container,
.add-delete-container {
    height: 8vh;
    margin-top: 2vh;
    margin-left: 8vw;
    border-radius: 3px;
    background-color: #444;
}

.filter-container {
    width: 18vw;
    display: flex;
}

.add-delete-container {
    width: 9vw;
    display: flex;
}

.filter {
    height: 100%;
    width: 25%;
}

.pink-color-btn,
.blue-color-btn,
.green-color-btn,
.yellow-color-btn {
    display: block;
    width: 40%;
    height: 40%;
    border-radius: 3px;
    margin-top: calc(8vh * 0.3);
    margin-bottom: calc(8vh * 0.3);
    margin-left: calc(4.5vw * 0.3);
    margin-right: calc(4.5vw * 0.3);
}

.pink-color-btn {
    background-color: pink;
}

.green-color-btn {
    background-color: green;
}

.yellow-color-btn {
    background-color: yellow;
}

.blue-color-btn {
    background-color: blue;
}

.filter:hover {
    background-color: black;
    cursor: pointer;
}

.add,.delete {
    height: 100%;
    width: 50%;
}

.action-btn {
    display: block;
    height: 40%;
    width: 40%;
    margin-top: calc(8vh * 0.3);
    margin-bottom: calc(8vh * 0.3);
    margin-left: calc(4.5vw * 0.3);
    margin-right: calc(4.5vw * 0.3);
    background-color: white;
    padding-left: 3%;
}

.add:hover, .delete:hover {
    background-color: black;
    cursor: pointer;
}


