body {
    margin: 0
}

* {
    box-sizing: border-box;
}

.navbar {
    height: 12vh;
    background-color: #333;
    display: flex;
}

.ticket-container {
    height: 88vh;
    background-color: #f2f2f2;
    position: relative;
}

.filter-container,
.add-delete-container {
    height: 8vh;
    margin-top: 2vh;
    margin-left: 8vw;
    border-radius: 3px;
    background-color: #444;
}

.filter-container {
    width: 18vw;
    display: flex;
}

.add-delete-container {
    width: 9vw;
    display: flex;
}

.filter {
    height: 100%;
    width: 25%;
}

.pink-color-btn,
.blue-color-btn,
.green-color-btn,
.yellow-color-btn {
    display: block;
    width: 40%;
    height: 40%;
    border-radius: 3px;
    margin-top: calc(8vh * 0.3);
    margin-bottom: calc(8vh * 0.3);
    margin-left: calc(4.5vw * 0.3);
    margin-right: calc(4.5vw * 0.3);
}

.pink-color-btn, .modal-pink-filter {
    background-color: pink;
}

.green-color-btn, .modal-green-filter {
    background-color: green;
}

.yellow-color-btn, .modal-yellow-filter {
    background-color: yellow;
}

.blue-color-btn, .modal-blue-filter {
    background-color: blue;
}

.filter:hover {
    background-color: black;
    cursor: pointer;
}

.add,.delete {
    height: 100%;
    width: 50%;
}

.action-btn {
    display: block;
    height: 40%;
    width: 40%;
    margin-top: calc(8vh * 0.3);
    margin-bottom: calc(8vh * 0.3);
    margin-left: calc(4.5vw * 0.3);
    margin-right: calc(4.5vw * 0.3);
    background-color: white;
    padding-left: 3%;
}

.add:hover, .delete:hover {
    background-color: black;
    cursor: pointer;
}

.modal {
    height: 18rem;
    width: 35rem;
    background-color: white;
    display: flex;
    position: absolute;
    top: 10rem;
    left: calc((100vw - 35rem) / 2)
}

.task-to-be-added {
    width: 70%;
    height: 100%;
    padding: 3rem;
    outline: none;
    overflow: auto;
}

.modal-priority-list {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: space-between;
    padding: 3rem;
    background-color: #444;
}

.modal-filter {
    width: 100%;
    height: 20%;
}

.modal-filter:hover {
    opacity: 0.5;
    cursor: pointer;
}







