.movies-table-row {
    display: flex;
    height: 16.66%;
    border-bottom: 1px solid lightgray;
}

.column {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lightgray;
}