body {
    margin: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
}

.title-bar {
    height: 5vh;
    width: 100vw;
    background-color: #217346;
    color: #fff;
    display: flex;
    /* aliign horizontal */
    justify-content: center;
    /* align vertical */
    align-items: center;
    font-size: 1rem;
}

.menu-bar {
    height: 5vh;
    width: 100vw;
    background-color: #217346;
    display: flex;
}

.menu-bar-item {
    color: #fff;
    background-color: #217346;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bar-item.selected {
    background-color: #fff;
    color: #217346;
}

.menu-bar-item:hover {
    background-color: #175533;
    cursor: pointer;
}

.menu-bar-item.selected:hover {
    background-color: #fff;
    cursor: default;
}

.menu-icon-bar {
    display: flex;
    height: 6vh;
    align-items: center;
}

.menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    height: 100%;
}

.menu-icon:hover {
    background-color: lightgray;
    cursor: pointer;
}

.menu-selector {
    height: 4.5vh;
    font-size: 1.2rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

#font-family {
    width: 10vw;
    min-width: 130px;
    font-family: Noto Sans;
}

#font-size {
    width: 3.5vw;
    min-width: 55px;
}

.formula-bar {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#selected-cell {
    width: 120px;
    height: 70%;
}

#function-sign {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

#function-input {
    width: calc(100vw - 160px);
    height: 70%;
}

.formula-editor {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
}

.data-container {
    display: flex;
    height: 76vh;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
}

#select-all {
    width: 25px;
    height: 25px;
    border: 1px solid lightgray;
}

#columns {
    height: 25px;
    width: calc(100vw - 25px);
    border: 1px solid lightgray;
    display: flex;
    overflow: hidden;
}

#rows {
    width: 25px;
    height: calc(76vh - 25px);
    border: 1px solid lightgray;
    overflow: hidden;
}

#cells {
    position: relative;
    height: calc(76vh - 25px);
    width: calc(100vw - 25px);
    border: 1px solid lightgray;
    overflow: scroll;
}

.sheet-bar {
    height: 3vh;
    width: 100vw;
}

.column-name {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-right: 0.5px solid lightgray;
}

.row-name {
    min-height: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-bottom: 0.5px solid lightgray;
}

.cell-row {
    display: flex;
}

.input-cell {
    width: 100px;
    min-width: 100px;
    height: 25px;
    min-height: 25px;
    border-bottom: 0.5px solid lightgray;
    border-right: 0.5px solid lightgray;
    padding-left: 3px;
    padding-right: 3px;
    overflow: hidden;
    font-size: 14px;
    font-family: Noto Sans;
    display: flex;
    align-items: center;
}

.input-cell.selected {
    border: 3px solid #217346;
    outline-color: #217346;
}

.input-cell.top-selected {
    border-top: none;
}

.input-cell.bottom-selected {
    border-bottom: 0.5px solid lightgray;
}

.input-cell.left-selected {
    border-left: none;
}

.input-cell.right-selected {
    border-right: 0.5px solid lightgray;
}